/*** CSS RESET ***/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  min-width: 100%;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anchored targets get extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

/*** END OF CSS RESET ***/


/*** FONTS ***/

@font-face {
  font-family: 'poppins';
  src: url('./media/fonts/Poppins-Medium.ttf');
}


/*** THEME / CSS VARIABLES ***/

:root {
  --color-white: rgb(245, 243, 244);
  --color-blue:  rgb(25, 34, 49);
}


/*** BASE ELEMENTS ***/

a { 
  text-decoration: none; 
}

body {
  font-family: 'Poppins';
}

/*** SIDEBAR ***/

.sidebar {
  width: 20%;
  height: calc(100vh - 2rem);
  padding: 1rem;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--color-blue);
  border-radius: 50px;
}


/*** SIDEBAR: LOGO ***/

.sidebar-logo-container img {
  aspect-ratio: 1 / 1;
  height: 4rem;
}


/*** SIDEBAR: MENU ***/

.sidebar-menu-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 2rem;
}

.menu-item-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  width: max-content;
}

.menu-item { 
  color: var(--color-white); 
}

.menu-item-icon {
  aspect-ratio: 1 / 1;
  height: 1.2rem;
  color: var(--color-white);
}


/*** SIDEBAR: ACCOUNT ***/

.sidebar-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
  line-height: 1rem;

  color: var(--color-white);
}

.account-profile-img {
  aspect-ratio: 1 / 1;
  height: 3rem;
  border-radius: 25px;
}

.account-profile-name-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem
}

.account-profile-name {
  font-size: 1rem;
}

.account-profile-email {
  font-size: .75rem;
}
