/*** CSS RESET ***/

/* Box sizing rules */
*,
*::before,
*::after { box-sizing: border-box; }

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd { margin-block-end: 0; }

/* Remove list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'] { list-style: none; }

/* Set core body defaults */
body {
  min-height: 100vh;
  min-width: 100%;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label { line-height: 1.1; }

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 { text-wrap: balance; }

/* A elements that don't have a class get default styles */
a:not([class]) { text-decoration-skip-ink: auto; color: currentColor; }

/* Make images easier to work with */
img,
picture { max-width: 100%; display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select { font-family: inherit; font-size: inherit; }

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) { min-height: 10em; }

/* Anchored targets get extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

/*** END OF CSS RESET ***/


/*** FONTS ***/

@font-face {
  font-family: 'poppins';
  src: url('./media/fonts/Poppins-Medium.ttf');
}


/*** THEME / CSS VARIABLES ***/

:root {
  --color-background-grey: rgb(31, 31, 31);
  --color-main-black:  rgb(0, 0, 0);
  --color-text-white: rgb(223, 219, 216);
  --color-text-grey: rgb(78, 78, 78);
}


/*** BASE ELEMENTS ***/

a {  text-decoration: none;  }

body { font-family: 'Poppins'; background-color: var(--color-background-grey); }

#app { display: flex; }

/*** SIDEBAR ***/

.sidebar {
  width: 8%;
  height: calc(100vh - 2rem);
  padding: 1rem;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-main-black);
  border-radius: 75px;
}


/*** SIDEBAR: LOGO ***/

.sidebar-logo-container img { aspect-ratio: 1 / 1; height: 4rem; }


/*** SIDEBAR: MENU ***/

.sidebar-menu-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 2rem;
}

.menu-item-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  width: max-content;
}

.menu-item { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text-white); 
}

.menu-item-icon {
  aspect-ratio: 1 / 1;
  height: 1.2rem;
  color: var(--color-text-white);
}


/*** SIDEBAR: ACCOUNT ***/

.sidebar-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
  line-height: 1rem;

  color: var(--color-text-white);
}

.account-profile-img {
  aspect-ratio: 1 / 1;
  height: 3rem;
  border-radius: 25px;
}

.account-profile-name-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem
}

.account-profile-name { font-size: 1rem; }

.account-profile-email { font-size: .75rem; }


/*** DASHBOARD CONTAINER ***/

.dashboard-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 90%;
  height: calc(100vh - 2rem);
  padding: 1rem;
  margin: 1rem;

  background-color: var(--color-main-black);
  border-radius: 100px;
}

.dashboard-container-left {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;

  color: var(--color-text-white);
}

/*** DASHBOARD BALANCE ***/

.dashboard-balance-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.balance-header, .balance-number { margin: 0; line-height: 4rem;}

.balance-header {
  margin: 0;
  line-height: 2;
  font-size: 1rem;
  color: var(--color-text-grey);
}

.balance-number { font-size: 5rem; }

.balance-number span { color: var(--color-text-grey); font-size: 3rem; }

.balance-trend {
  display: flex;
  align-items: center;
  background-color: rgb(102, 148, 113);
  
  width: max-content;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  gap: 0.5rem;

  border-radius: 10px;
}

.balance-trend-icon {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
}

.balance-trend-value { margin: 0; line-height: 1; }

/*** DASHBOARD FAVORITES ***/

.dashboard-favorites-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-favorites-header { font-size: 1rem; color: var(--color-text-grey) }

.card-container {
  display: flex;
  gap: 1rem;
}

.crypto-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 30px;
  gap: 1rem;
}

.card-info-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.card-name-container {
  margin-bottom: 1rem;
  line-height: 0.5;
}

.card-icon {
  width: calc(24px + 1rem);
  height: calc(24px + 1rem);
  aspect-ratio: 1 / 1;
  object-fit: contain;
  display: block;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
}

